/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

body {
  font-family: "Bebas Neue", cursive;
  background-image: url("assets/background.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
